@charset "ISO-8859-1";
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    135deg,
    #1e1e1e,
    #2c3e50,
    #4b79a1
  ); /* Gradient background */
  color: #ffffff; /* Light text color for contrast */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
h2 {
  color: #ffffff; /* Light color for the heading */
}

.outer-box {
  background-color: #1e1e1e; /* Darkest color of the gradient background */
  border: 1px solid #ffffff; /* White border */
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Semi-transparent white shadow */
  text-align: center;
}

.button-box {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Semi-transparent white for button box */
  border: 1px solid #ffffff; /* White border */
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Semi-transparent white shadow */
  width: 200px; /* Adjust width as needed */
  text-align: center;
}

button {
  background-color: #4caf50; /* Purple background for button */
  color: #ffffff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #8e44ad; /* Darker purple on hover */
}
