<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Admin Home</title>
    <link rel="stylesheet" href="/css/adminhome.css" />
  </head>
  <body>
    <h2>Admin Home</h2>

    <div class="outer-box">
      <div class="button-box">
        <form action="addsong">
          <button>Add Song</button>
        </form>
      </div>

      <div class="button-box">
        <form action="viewsong">
          <button>View Song</button>
        </form>
      </div>

      <div class="button-box">
        <form action="createplaylist">
          <button>Create Playlist</button>
        </form>
      </div>

      <div class="button-box">
        <form action="viewplaylist">
          <button>View Playlist</button>
        </form>
      </div>
      
      <div class="button-box">
        <form action="logout">
          <button>Logout</button>
        </form>
      </div>
      
    </div>
  </body>
</html>
