<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div class="outer-box">
      <div class="button-box">
        <form action="register">
          <button>Register</button>
        </form>
      </div>
      
      <div class="button-box">
        <form action="login">
          <button>Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
