<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="icon" href="/image/logo.jpg" />
  </head>
  <body>
    <div class="out">
      <div class="left"></div>
      <div class="right">
        <div class="outer-box">
          <div class="button-box">
            <form action="register">
              <button>Register</button>
            </form>
          </div>
          <div class="button-box">
            <form action="login">
              <button>Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
