<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/pay.css" />
    <title>Payment Page</title>
  </head>
  <body>
    <div class="text-container">
      <h2 style="color: red">Sorry !!!</h2>
      <h4>You are not subscribed to our application.</h4>
      <h4>Subcribe Now , to enjoy some special features of MusicHub</h4>
      <br />
    </div>
    <div class="all-plans">
      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span> ₹49 <small>/ month</small> </span>
          </span>
          <p class="title">Monthly Plan</p>
          <p class="info">Membership plan for 1 month</p>
          <ul class="features">
            <li>
              <span class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    fill="currentColor"
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                  ></path>
                </svg>
              </span>
              <span><strong>Uninterrupted Music</strong></span>
            </li>

            <li>
              <span class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    fill="currentColor"
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                  ></path>
                </svg>
              </span>
              <span><strong>High Quality </strong>songs</span>
            </li>
            <li>
              <span class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    fill="currentColor"
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                  ></path>
                </svg>
              </span>
              <span>Listen over <strong>1 Million+ songs</strong></span>
            </li>
          </ul>
          <div class="action">
            <a class="button" href="#"> Choose plan </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span> ₹129 <small>/ 3 month</small> </span>
          </span>
          <p class="title">Quaterly Plan</p>
          <p class="info">Membership plan for 3 month</p>
          <ul class="features">
            <li>
              <span class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    fill="currentColor"
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                  ></path>
                </svg>
              </span>
              <span><strong>Uninterrupted Music</strong></span>
            </li>
            <li>
              <span class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    fill="currentColor"
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                  ></path>
                </svg>
              </span>
              <span><strong>High Quality </strong>songs</span>
            </li>
            <li>
              <span class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    fill="currentColor"
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                  ></path>
                </svg>
              </span>
              <span>Listen over <strong>1 Million+ songs</strong></span>
            </li>
          </ul>
          <div class="action">
            <a class="button" href="#"> Choose plan </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span> ₹499 <small>/ year</small> </span>
          </span>
          <p class="title">Annually Plan</p>
          <p class="info">Membership plan for 1 year</p>
          <ul class="features">
            <li>
              <span class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    fill="currentColor"
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                  ></path>
                </svg>
              </span>
              <span><strong>Uninterrupted Music</strong></span>
            </li>
            <li>
              <span class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    fill="currentColor"
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                  ></path>
                </svg>
              </span>
              <span><strong>High Quality </strong>songs</span>
            </li>
            <li>
              <span class="icon">
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    fill="currentColor"
                    d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"
                  ></path>
                </svg>
              </span>
              <span>Listen over <strong>1 Million+ songs</strong></span>
            </li>
          </ul>
          <div class="action">
            <a class="button" href="#"> Choose plan </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
