<!DOCTYPE html>
<html>
  <head>
    <title>Display Songs</title>
    <link rel="stylesheet" type="text/css" href="/css/viewsongs.css" />
    <link rel="icon" href="/image/logo.jpg" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div class="title"><p>Songs</p></div>
      <div class="button-box">
        
        <form action="logout">
          	<button class="button"><p>Logout</p></button>
          </form>
      </div>
    </header>
    <div class="content">
      <div class="left">
        <div class="img"></div>
        <div class="more">
          <div class="button-box">
            <form action="viewsong">
              <button class="button">
                <p>All Songs</p>
              </button>
            </form>
          </div>
          <div class="button-box">
            <form action="viewplaylist">
              <button class="button">
                <p>All Playlist</p>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="search-container">
          <form action="#" method="GET">
            <input type="text" placeholder="Search..." name="search" />
            <button type="submit" class="search-but">Search</button>
          </form>
        </div>
        <div class="song-list">
          <div class="song-container" th:each="song : ${songs}">
            <div class="song-header">
              <p class="song-title" th:text="${song.name}"></p>
              <audio controls>
                <source th:src="${song.link}" type="audio/mp3" />
              </audio>
            </div>
            <div class="song-header">
              <p class="song-albam" th:text="${song.albam}"></p>
              <p class="song-artist" th:text="${song.artist}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
